html{
  margin:0;
  padding:0;
  height:1000px;
}
body{
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Playfair Display SC', serif;
}

p{
  line-height: 1.5;
  margin-top:8%;
  font-size: 25px;
}

label{
  font-size: 20px;
}

input{
    outline:none;
    background-color: transparent;
    height: 20px;
    width: 25%;
    border: 0px solid;
    font-size: 20px;
    padding-top:3%;
}

.active{
  color: #FFEAB1;
}

.nav-bar{
  margin: 1% 10%;
}
.nav-bar li{
  display: inline;
  margin: 5% 5%;
  list-style: none;
  color:	#E3BB77;
  font-size: 2.5vw;
  text-align: center;
}


.nav-bar li:hover{
  color:#FFEAB1;
  overflow: hidden;

}

.container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 700px 700px 700px 700px;
  margin-left: 40%;
  margin-top: 5%;
  overflow: scroll;
  height: 600px;
  /* width: 700px; */
  border: 1px solid #FFEAB1;
}

.container div{
  background-color: #E3BB77;
  margin-bottom: 10%;
  background-image: url('images/papersheet2.jpeg');
  background-repeat: no-repeat;
}

#sectionOne-header {
    color: black;
    text-shadow: 2px 2px white;
    margin:0% 20%;
    padding-top: 4%;
}

#reasons li{
  /* margin:5% 5%; */
  margin-top: 4%;
  margin-bottom: 4%;
  font-size:30px;
}

#email{
  width:40%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-track {
    background: #E3BB77;
}

.container::-webkit-scrollbar-thumb {
    background:#9b7c63;
}

.nav-bar li a{
  overflow: hidden;
  white-space: nowrap;
  /* letter-spacing: .1em; */
  animation: typing 7s steps(1);
}

h1{
  overflow: hidden;
  white-space: nowrap;
  animation: typing 6s steps(20);
  animation-iteration-count: infinite;
}

#submit{
  height: 15%;
  width: 15%;
  font-size: 20px;
  background-color: #E3BB77;
  color: white;
}

#submit:hover{
  background-color: white;
  color:#9b7c63;
}

h1:nth-child(1){
  margin-top: 4%;
}

#contactList li{
  font-size: 30px;
  margin-bottom: 4.5%;
}
